<h1> Uy Nguyen </h1>

<div class="profile">
  .profile h2 {
  font-size: 16px;
  text-transform: uppercase;
  }
  
  .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
  <h2> I work at SelectHealth Insurance </h2>
  <p> I want to learn how to code so that I can possess the ability to do cool things for cool people. </p>
  <img src="otter.jpg"
     style="margin-left: 10px"/>
</div>
<a href="read_more.erb"> Read more. </a>
<br> </br>
