html {
  background: url('https://flic.kr/p/9fyftm') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile {
  background: lightgray;
  padding: 10px;
  marging: 10px;
  text-align: center;
} 



